{%extends 'base.html'%}
      
{% block title %}
Login
{% endblock %}
{% block content %}

<h1>
    Login</h1>
    <br><br>
   {% if form.errors%}
   <p>Enter correct email or password</p>
   {%endif%}
<div class="form-group">
    <form method="POST">
        {%csrf_token%}
        <div class="mb-3">
            
            <input type="text" class="form-control" placeholder="Username" id="username" name="username" aria-describedby="emailHelp">
        </div>
          <div class="mb-3">
            <input type="password" name="password" placeholder="Password"class="form-control" >
        </div>
        <button class="btn btn-secondary">Login</button>
    </form>
    <br>
    <div id="emailHelp" class="form-text"> Not  a user? Register<a href="{% url 'register'%}"> Here.</a></div>
</div>


{% endblock %}
