{%extends 'base.html'%}
      
{% block title %}
Add Post
{% endblock %}
{% block content %}

{% if user.is_authenticated%}
<h1>
    Add Blog Post</h1>
    <br><br>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        {{form.media}}
        <button class="btn btn-secondary">Post</button>
</div>
<script>
    var name="{{user.id}}";
    document.getElementById('author').value=name;
</script>

{%else %}
<div class="container center">
    <h3>Kindly Login to use this functionality😌</h3>
    <a href="{%url 'home'%}">Back to Home Page</a>
</div>
{% endif %}
{% endblock %}
